__pycache__
*.pt
*.pth
vis/
/data/
output
imu2body/output_envposer/
imu2body/output_agrol/
results
/libraries/MASt3R-SLAM
/libraries/S2Fusion
/libraries/Tracking-Anything-with-DEVA
/libraries/Pointnet2_PyTorch
/MocapEvery_Files_Download/
/libraries
*.ply
*.pkl